{% extends 'base.html.twig' %}
{% block title %}RLM | {{ team.name }}{% endblock %}

{% block body %}
    <h1>
        {{ team.name }}
    </h1>
    <table class="table table-striped table-borderless">
        <thead class="thead-dark">
        <tr>
            <th>Driver</th>
            <th>Rank</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
            {% for driver in teamDrivers %}
                <tr>
                    <td>
                        {{ driver.driver.name }} {{ driver.driver.lastname }}
                    </td>
                    <td>
                        {{ driver.rank | replace({"0": "To Be Accepted", "1": "Member", "2": "Admin"}) }}
                    </td>
                    <td>
                        {% for check in teamDrivers %}
                            {% if check.driver.id == app.user.id and check.rank == 2 %}
                                {% if driver.rank != 2 %}
                                    <button>
                                        <a href="{{ path('team_up', {'driverid': driver.driver.id, 'teamid': team.id }) }}">
                                            {% if driver.rank == 1 %}
                                                Rank Up
                                            {% else %}
                                                Accept Membership
                                            {% endif %}
                                        </a>
                                    </button>
                                    <button>
                                        {% if driver.rank != 0 %}
                                            <a href="{{ path('team_down', {'driverid': driver.driver.id, 'teamid': team.id}) }}">
                                                Rank Down
                                            </a>
                                        {% else %}
                                            <a href="{{ path('team_reject', {'driverid': driver.driver.id, 'teamid': team.id}) }}">
                                                Reject Membership
                                            </a>
                                        {% endif %}
                                    </button>

                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{{ path('user_teams') }}">Go back to your teams</a>
    <a href="{{ path('user_home') }}">Go back to your home</a>
{% endblock %}
