{% extends 'base.html.twig' %}

{% block title %}RLM | Admin Panel{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="{{ path('user_home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
    </nav>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ path('admin_championship') }}">
                Create Championship
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('admin_race') }}">
                Create Race
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('race_dashboard') }}">
                Next Races Information
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('historic_championships') }}">
                See Past Championships and Races Results
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('serverconfig_index') }}">
                Configure Server
            </a>
        </li>
        <li class="list-group-item list-group-item-danger">
            <a href="{{ path('resultprocessing_index') }}">
                Result Processing (Only in Emergency Cases)
            </a>
        </li>
    </ul>
{% endblock %}
