{% extends 'base.html.twig' %}

{% block title %}RLM | {{ conversation.topic }}{% endblock %}

{% block body %}
    <h1>
        {{ conversation.topic }}
    </h1>
    {% for message in conversation.messages %}
        <div>
            <div>
                <small style="width: 25%; float: left">
                    {{ message.creator }}
                </small>
                <small style="width: 25%; float: right">
                    {{ message.timestamp | date('F jS \\a\\t g:ia') }}
                </small>
            </div>
            <br>
            <p>
                {{ message.message }}
            </p>
        </div>
        <hr>
    {% endfor %}
    {{ form(form) }}
    <hr>
    <a href="{{ path('message_home') }}">
        Back to Messages
    </a>
    <br>
    <a href="{{ path('message_conversation', {'id': conversation.id }) }}">
        Refresh Messages
    </a>
{% endblock %}