{% extends 'base.html.twig' %}

{% block title %}RLM | Create Conversation{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item">
                <a href="{{ path('user_home') }}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('message_home') }}">
                    Message Board
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Create Conversation
            </li>
        </ol>
    </nav>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-3">
            {{ form_row(form.user) }}
        </div>
        <div class="col">
            {{ form_row(form.topic) }}
        </div>
    </div>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}