{% extends 'base.html.twig' %}

{% block title %}RLM | Message Board{% endblock %}

{% block body %}
    <h1>
        Message Board | {{ app.user.name }} {{ app.user.lastname }}
    </h1>
    {% if conversations|length != 0 %}
        <hr>
        <ul>
            {% for conversation in conversations %}
                <li>
                    <a href="{{ path('message_conversation', {'id': conversation.id}) }}">
                        {{ conversation.topic }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
    <a href="{{ path('user_home') }}">
        Back to User Panel
    </a>
{% endblock %}
