{% extends 'base.html.twig' %}
{% block title %}RLM | Race Info{% endblock %}
{% block body %}
    <h1>
        Race Info
    </h1>
    <h2> Track: {{ race.track | replace({'_2019': ""}) | replace({'_': " "}) | title }}</h2>
    <h2> Length: {{ race.raceLength }} Minutes</h2>
    {% if entrylist | length != 0 %}
        <table>
            <thead>
                <tr>
                    <th>
                        Team Name
                    </th>
                    <th>
                        Race #
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entrylist %}
                    <tr>
                        <td>
                            {{ entry.teamId.name }}
                        </td>
                        <td>
                            {{ entry.racenumber }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    {% endif %}
    <a href="{{ path('race_launch', {'id': race.id}) }}">
        Launch Server - Security Risk (Only runs on Dev environments)
    </a>
    <br>
    <a href="{{ path('race_entrylist', {'id': race.id }) }}">
        Generate JSON of Entrylist
    </a>
    <hr>
    <a href="{{ path('race_dashboard') }}">Go Back to Championships</a>
{% endblock %}
