{% extends 'base.html.twig' %}
{% set championship = "" %}
{% for race in races %}
    {% set championship = race.championshipId.name %}
{% endfor %}
{% block title %}RLM | {{ championship }} Info{% endblock %}
{% block body %}
    <h1>
        {{ championship }} Info
    </h1>
    <table class="table table-striped table-borderless">
        <thead class="thead-dark">
        <tr>
            <th>Circuit</th>
            <th>Free Practice Length</th>
            <th>Qualifying Length</th>
            <th>Race Length</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        {% for race in races %}
            {% if race.complete != true %}
            <tr>
                <td>
                    {{ race.track | replace({'_2019': ""}) | replace({'_': " "}) | title }}
                </td>
                <td>
                    {{ race.practiceLength }} minutes
                </td>
                <td>
                    {{ race.qualyLength }} minutes
                </td>
                <td>
                    {{ race.raceLength }} minutes
                </td>
                <td>
                    <a href="{{ path('race_info', {'id': race.id })}}">
                        Info
                    </a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('race_dashboard') }}">Go Back to Championships</a>
{% endblock %}

